Repository MChorfa/OWASP-Top-10-for-AI-Agents, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainers, @devops-team, @docs-team, @security-team, @i18n-team

wip translation machinery
  .dagger/main.go
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/ci.yml
  .gitignore
  Dockerfile
  Makefile
  README.md
  config.yaml
  docker-compose.yml
Owners: @devops-team, @project-maintainers

wip translation machinery
  scripts/local_translate.sh
  scripts/review_process.sh
  v1/glossary/glossary.yaml
  v1/glossary/schema.json
  v1/translations/ar/agent-auth-control-01.md
  v1/translations/ar/agent-critical-systems-02.md
  v1/translations/ar/agent-goal-instruction-03.md
  v1/translations/ar/agent-hallucination-04.md
  v1/translations/ar/agent-impact-chain-05.md
  v1/translations/ar/agent-knowledge-poisoning-10.md
  v1/translations/ar/agent-memory-context-06.md
  v1/translations/ar/agent-orchestration-07.md
  v1/translations/ar/agent-resource-exhaustion-8.md
  v1/translations/ar/agent-supply-chain-09.md
  v1/translations/ar/metadata.yaml
  v1/translations/es/agent-auth-control-01.md
  v1/translations/es/agent-critical-systems-02.md
  v1/translations/es/agent-goal-instruction-03.md
  v1/translations/es/agent-hallucination-04.md
  v1/translations/es/agent-impact-chain-05.md
  v1/translations/es/agent-knowledge-poisoning-10.md
  v1/translations/es/agent-memory-context-06.md
  v1/translations/es/agent-orchestration-07.md
  v1/translations/es/agent-resource-exhaustion-8.md
  v1/translations/es/agent-supply-chain-09.md
  v1/translations/es/metadata.yaml
  v1/translations/fr/agent-auth-control-01.md
  v1/translations/fr/agent-critical-systems-02.md
  v1/translations/fr/agent-goal-instruction-03.md
  v1/translations/fr/agent-hallucination-04.md
  v1/translations/fr/agent-impact-chain-05.md
  v1/translations/fr/agent-knowledge-poisoning-10.md
  v1/translations/fr/agent-memory-context-06.md
  v1/translations/fr/agent-orchestration-07.md
  v1/translations/fr/agent-resource-exhaustion-8.md
  v1/translations/fr/agent-supply-chain-09.md
  v1/translations/fr/metadata.yaml
Owners: @project-maintainers, @i18n-team

update dockerfiiile
  Dockerfile
  Dockerfile.dev
Owners: @project-maintainers

wip setup pipeline
  .dagger/main.go
  .devcontainer/devcontainer.json
  .github/workflows/pages.yml
  .github/workflows/release.yml
  go.mod
  scripts/preview-docs.sh
Owners: @devops-team, @project-maintainers

Update README.md
  README.md
Owners: @project-maintainers

Update README.md
  README.md
Owners: @project-maintainers

Create Agent-Capability.md
  Agent-Capability.md
Owners: @project-maintainers

.github/CODEOWNERS:

# Default owners for everything
* @project-maintainers

# Dagger configuration
/.dagger/ @devops-team

# Documentation
/docs/ @docs-team

# Security configurations
/security/ @security-team

# Translations
/v1/translations/ @i18n-team
